.jumbotron{
	text-align: center;
}

button{
	margin: 1%;
}

#add-anime{
	margin: 1%;
}

.jumbotron h1{
	padding-bottom: 5%;
}

.jumbotron h1 img{
	width: 100%;
}


.gifimg	img{
	padding: 2%;
	width: 100%;
	height: 25%;
	padding-right: 5%;
}


.gifimg p{
	padding-left: 5%;
	width: 100px;
}

.anime{
	background-color: orange;
	color: white;
	border-radius: 12px;
}

#add-anime{
	background-color: orange;
	color: white;
	border-radius: 12px;
}
