.jumbotron{
	text-align: center;
}

button{
	margin: 1%;
}

#add-anime{
	margin: 1%;
}

.jumbotron h1{
	padding-bottom: 5%;
}

.jumbotron h1 img{
	width: 100%;
}


.gifimg	img{
	padding: 2%;
	width: 25%;
	height: 25%;
	padding-right: 5%;
}

.gifimg{
	 display: flex; 
  	flex-wrap: wrap;
	background-color: #F2F2F2;
}

.gifimg p{
	width: 100px;
}

.anime{
	background-color: orange;
	color: white;
	border-radius: 12px;
}

#add-anime{
	background-color: orange;
	color: white;
	border-radius: 12px;
}
